* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style for the navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

/* Style for the navbar items (links) */
.nav-item {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

/* Style for the homePage-title */
.homePage-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
/* Style for the homePage-topic */
.homePage-topic {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
/* Style for the homePage-OL */
.homePage-OL {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
}
/* Style for the homePage-List */
.homePage-List {
  font-size: 16px;
  margin-bottom: 10px;
}
/* Style for the sub-topic */
.sub-topic {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

/* Style for the section-1 */
section .Day-one {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

/* Style for the section heading */
.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the "Read More" link */
.read-more {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/* Style for the "hide-section" link */
.hide-section {
  padding: 8px;
  text-align: center;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.hide-section:hover {
  background-color: #ccc;
}
